<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Category </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterCategory($event.target.value)"></ion-searchbar>

  <ul class="filters" radio-group>
    <li>
      <ion-label> World </ion-label>
      <ion-radio value="world" (ionSelect)="onFilter($event)"></ion-radio>
    </li>

    <li>
      <ion-label> Cinema </ion-label>
      <ion-radio value="cinema" (ionSelect)="onFilter($event)"></ion-radio>
    </li>

    <li>
      <ion-label> Sports </ion-label>
      <ion-radio value="sports" (ionSelect)="onFilter($event)"></ion-radio>
    </li>

    <li>
      <ion-label> Politics </ion-label>
      <ion-radio value="politics" (ionSelect)="onFilter($event)"></ion-radio>
    </li>
  </ul>

  <ul class="category">
    <li *ngFor="let c of category">
      <img src="{{ c.image }}">
      <h2>{{ c.name }}</h2>
      <div [innerHTML]="c.description"></div>
    </li>
  </ul>
</ion-content>
 
