<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign in User</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Normal Sign In Method -->
<ion-content>
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-content>
  <form>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="authService.GoogleAuth()" expand="block">
          Login With Google
        </ion-button>
        <ion-button type="submit" color="primary" (click)="authService.FacebookAuth()" expand="block">
          Login With Facebook
        </ion-button>
        <ion-button type="submit" color="primary" (click)="authService.TwitterAuth()" expand="block">
          Login With Twitter
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<!--<ion-content padding>
  <button ion-button full (click)="doLogin()">Login</button>
</ion-content>-->
