<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" style="font-size: medium; font-family: NotoSansTamil-Regular;">புகுபதிகை</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Normal Sign In Method -->
<ion-content>
  <form>    
    <ion-item>
    </ion-item>
    <ion-item lines="full">
      <div class="ion_label">
      <ion-label position="floating">மின்னஞ்சல்</ion-label>
      <ion-input type="text" #email required></ion-input>
      </div>
    </ion-item> 

    <ion-item lines="full">
      <div class="ion_label">
      <ion-label position="floating">கடவுச்சொல்</ion-label>
      <ion-input type="password" #password required></ion-input>
      </div>
    </ion-item>

    <ion-row>
      <ion-col> 
        <div class="ion_label">
          <div class="button1"></div>
      <ion-button type="submit" (click)="logIn(email, password)">உள்நுழைய</ion-button>
      <ion-button (click)="ForgotPassword()">கடவுச்சொல் மீட்க</ion-button>
      <ion-button type="submit" color="primary" (click)="authService.GoogleAuth()" expand="block">கூகிள் மூலம் உள்நுழைய</ion-button>
      </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-content>
  <form>
    <ion-row>
      <ion-col>
        <!-- <ion-button type="submit" color="primary" (click)="authService.GoogleAuth()" expand="block">கூகிள் மூலம் உள்நுழைய</ion-button> -->
        <!-- <ion-button type="submit" color="primary" (click)="authService.FacebookAuth()" expand="block">முகநூல் மூலம் உள்நுழைய</ion-button>
        <ion-button type="submit" color="primary" (click)="authService.TwitterAuth()" expand="block">ட்விட்டர் மூலம் உள்நுழைய</ion-button> -->
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<!--<ion-content padding>
  <button ion-button full (click)="doLogin()">Login</button>
</ion-content>-->
