
:root {
    --ion-text-color: a0522d;
    --ion-text-color-rgb: 160, 82, 45;
    --ion-color-favorite-shade: #5ca56c;
    --ion-background-color: b0c4de;
    --ion-background-color-rgb: 176,196, 222;

    --ion-tab-bar-background: #4c8dff;
}