@font-face {
    font-family: notoSansTamil;
    src: url('/src/assets/NotoSansTamil-Regular.ttf');
  
  }
  
  
  page-home {
    @media (max-width: 576px) {
        
    }
  
    @media (max-width: 820px) {
        .mobile-fab {
            display: none;
        }
    }
  
    @media (min-width: 820px) {
        .web-fab {
            display: none;
        }
    }
  }
  
  .header-image {
    height: 40vh;
  }
  
  ion-button {
    --color: #383a3e;
  }
  
  ion-tab-button {
    --background: #eff7f8;
    --color: #6fcedf ;
    width: 100%;
  }
  
  ion-tab-bar {
    // Translucent positioning effect
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .hideMe{
    transition: transform .5s ease-in;
    // transform: translateY(0);
   }

   ion-toolbar{
    opacity: 80%;
     position:absolute;
     top:0;
     left:0;
     
   }
  
  ion-card-title {
    text-align: left;
    width: 90%;
    margin: 12px 5% 6px;
    font-size: 1rem;
    color: #161616;
    font-family: NotoSansTamil-Regular;
    opacity: .9;
    line-height: 1.3rem;
  }
  
  .content {
    text-align: left;
    Width: 90%;
    margin: 0;
    line-height: 1.35rem;
    font-size: .9rem;
    color: #585858;
    font-family: NotoSansTamil-Regular;
    font-weight: 300;
    opacity: .8;
  }
  
  .ion_content{
    width: 100%;
    margin: 0px 5%;
    line-height: 1.35rem;
    font-size: .9rem;
    color: #585858;
    font-family: NotoSansTamil-Regular;
    font-weight: 300;
    opacity: .8;
  }
  
  .newstype {
    text-align: start;
    font-size: .75rem;
    color: #c7c7c7;
    font-weight: 500;
    font-family: Roboto;
    font-style: bold;
    margin-bottom: 7px;
  }
  
  ion-slides {
    height: 100%;
    width: 100%;
    margin-left:0 !important;
    margin-right:0 !important;
  }
  
  .screen{
    height: 100%;
    width: 100%;
    flex-direction: row-reverse;
    transition: transform 0.2s ease 0s;
    direction: ltr;
    display: flex;
    will-change: transform;
    transform: translate(0%, 0px); 
    margin: 0 auto;
    z-index:0
  }
  
  
  ion-responsive {
    height: 500px;
    width: 250px;
  }
  
  
  ion-card {
    display: inline-block;
    width: 100%;
    height: 100%;
   }

   ion-title{
     text-align: center;
   }


  
  .image{
  margin:0;
  width: 100%;
  height:38vh;
  background-position: 50%;
  background-color: #ccc;
  background-size: cover;
  }
  
  .heading{
  width: 90%;
    margin: 12px 5% 0px;
    font-size: 1.1rem;
    color: #161616;
    font-family: NotoSansTamil-Regular;
    font-weight: 400;
    opacity: .9;
    line-height: 1.5rem;
    text-align: left;
  }

  .active-item {
    border-left: 8px solid var(--ion-color-primary);
  }
  