<ion-slides pager="true" [options]="slideOpts">
<ion-slide *ngFor="let data of data.data">
<ion-card class="ion-no-margin">
  <ion-img [src]="data.news_pics"></ion-img>
<ion-card-content>
  <ion-card-header >
    <ion-card-title>
      <h1> {{ data.heading }} </h1>
    </ion-card-title>
  </ion-card-header>
    <p> {{ data.news_content }} </p>
  </ion-card-content>
</ion-card>
</ion-slide>
</ion-slides>
  
<!--
<ion-slide *ngFor="let item of data">
<ion-card>
  <img [src]="item.image">
<ion-card-content>
  <ion-card-header>
    <ion-card-title >
      <h3> {{item.name }} </h3>
    </ion-card-title>
  </ion-card-header>
    <p> {{ item.company }} </p>
  </ion-card-content>
</ion-card>
</ion-slide>

<ion-slide>
<ion-card>
  <img [src]="item.image">
<ion-card-content>
  <ion-card-header>
    <ion-card-title>
      <h3> {{ item.name }} </h3>
    </ion-card-title>
  </ion-card-header>
    <p> {{ item.company }} </p>
  </ion-card-content>
</ion-card>
</ion-slide>-->


<!--<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="paper">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="share">
      <ion-icon name="share"></ion-icon>
      <ion-label>Share</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookmarks">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Bookmarks</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>-->

<router-outlet main></router-outlet>