@font-face {
    font-family: notoSansTamil;
    src: url('../../assets/font/NotoSansTamil-Regular.ttf');

  }


page-home {
    @media (max-width: 576px) {
        ion-card-content {
            font-size: 5rem !important;
        }
    }
 
    @media (max-width: 820px) {
        .mobile-fab {
            display: none;
        }
    }
 
    @media (min-width: 820px) {
        .web-fab {
            display: none;
        }
    }
}

.header-image {
    height: 40vh;
}

ion-button {
    --color: #383a3e;
}

ion-tab-button {
    --background: #eff7f8;
    --color: #0fdd98 ;
}

ion-tab-bar {
    --color : rgb(172, 169, 169);
}

ion-card-title {
    text-align: left;
    width: 90%;
    margin: 12px 5% 6px;
    font-size: 1rem;
    color: #161616;
    font-family: NotoSansTamil-Regular;
    opacity: .9;
    line-height: 1.3rem;
}

.content {
    text-align: left;
    Width: 90%;
    margin: 0 5%;
    line-height: 1.35rem;
    font-size: .9rem;
    color: #585858;
    font-family: NotoSansTamil-Regular;
    font-weight: 300;
    opacity: .8;
}

.newstype {
    text-align: left;
    font-size: .7rem;
    color: #c7c7c7;
    font-weight: 400;
    font-family: Roboto;
}

ion-slides {
    height: 100%;
    width: 100%;
    margin-left:0 !important;
    margin-right:0 !important;
}

ion-slide {
    height: 100%;
    width: 100%;
}

ion-no-margin{
    margin: 2;
}

ion-responsive {
    height: 500px;
    width: 250px;
}


ion-card {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 10px auto  ;
   
}

ion-img{
    height:300px;
    width:100%;
}

