<ion-header>
  <ion-toolbar color="primary">
    <ion-title>discover</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-searchbar></ion-searchbar>

<ion-content padding>
  <ion-title> Category </ion-title>
  <ion-grid text-center>
    <ion-row wrap>
      <ion-col width-25>
        <ion-tab-button href="/login">
          <ion-icon name="log-in"></ion-icon>
          <ion-label> Login </ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col width-25>
        <ion-tab-button href="/registration">
          <ion-icon name="person-add"></ion-icon>
          <ion-label> Signup </ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col width-25>
        <ion-tab-button href="/category">
          <ion-icon name="grid"></ion-icon>
          <ion-label> Category </ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col width-25>
        <ion-tab-button href="/relevance">
          <ion-icon name="albums"></ion-icon>
          <ion-label> Relevance </ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



  

