<ion-header>
  <ion-toolbar>
    <ion-title> பயனர் சுயவிவரம் </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item></ion-item>
<ion-content padding>
  <p>பயனர்பெயர்: {{(profileData | async)?.username}}</p>
  <p>முதல் பெயர்: {{(profileData | async)?.firstname}}</p>
  <p>கடைசி பெயர்: {{(profileData | async)?.lastname}}</p>
  <p>மின்னஞ்சல்: {{(profileData | async)?.email}}</p>
  <ion-button expand="block" (click)="logout()" color="undefined" class="transition">
    <strong class="white">வெளியேறு</strong></ion-button>
</ion-content>


