.transition {
    background: linear-gradient(to right, #6fd7e0 14%, #62cdee 96%);
    color: "white";
  }
  .error {
    color: red;
    text-align: center;
    display: block;
    font-weight: bold;
  }