<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/category"></ion-back-button>
    </ion-buttons>
    <ion-title>சுயவிவரத்தை உருவாக்கவும்</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
</ion-item>
<ion-content padding>
    <ion-item>
      <ion-label floating>பயனர்பெயர்:</ion-label>
      <ion-input [(ngModel)]="profile.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>முதல் பெயர்:</ion-label>
      <ion-input [(ngModel)]="profile.firstname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>கடைசி பெயர்:</ion-label>
      <ion-input [(ngModel)]="profile.lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>மின்னஞ்சல்:</ion-label>
      <ion-input [(ngModel)]="profile.email"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="createProfile()" color="undefined" class="transition">
      <strong class="white">சுயவிவரத்தைச் சேர்க்கவும்</strong></ion-button>
</ion-content>