<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>சுயவிவரம்</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
</ion-item>
<ion-content>
  <div class="ion-padding">
    மெட்ராஸ் டெய்லிக்கு வருக ...
    <p>உங்கள் சுயவிவரங்கள் இங்கே ...</p>
    <ion-item *ngIf="user">
      <ion-thumbnail slot="start">
        <img [src]="user.photoURL">
      </ion-thumbnail>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3>{{user.displayName}}</h3>
        </ion-text>
        <p>{{user.email}}</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-row>
    <ion-col>
      <ion-button *ngIf="!user" expand="block" (click)="wantsToRegistration()" color="undefined"
        class="transition"><strong class="white">நான் பதிவு செய்ய விரும்புகிறேன்</strong></ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="logout()" color="undefined"
        class="transition"><strong class="white">வெளியேறு</strong></ion-button>
    </ion-col>
  </ion-row>
  
</ion-content>

