<ion-header>
  <ion-toolbar color ="primary">
    <ion-title>Create Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
</ion-item>
<ion-content padding>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="profile.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Firstname</ion-label>
      <ion-input [(ngModel)]="profile.firstname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Lastname</ion-label>
      <ion-input [(ngModel)]="profile.lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="profile.email"></ion-input>
    </ion-item>

    <button ion-button clear block (click)="createProfile()"> Create Profile </button>
</ion-content>