<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" style="font-size: medium; font-family: NotoSansTamil-Regular;">கடவுச்சொல் மீட்க</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
</ion-item>
<ion-content no-padding>
  <div class="main">
    <ion-card no-margin>
      <ion-card-content>
        <ion-row class="row">
            <ion-text>
              <h2 no-margin margin-vertical text-center>உங்கள் கடவுச்சொல்லை மறந்து விட்டீர்களா?</h2>
            </ion-text>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>உங்கள் மின்னஞ்சலை கீழே உள்ளிடவும், உங்கள் கடவுச்சொல்லை மீட்டெடுக்க உங்கள் வழிமுறைகளை அனுப்புவோம்</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="email" placeholder="மின்னஞ்சல்" [(ngModel)]="email" class="input" padding-horizontal
              clear-input="true"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="recover()" color="undefined" class="transition">
              <strong class="white">கடவுச்சொல்லை மீட்டெடுக்கவும்</strong></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="error" text-center>{{error}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text text-center class="block">ஏற்கனவே ஒரு கணக்கு உள்ளதா?
              <span class="bold" routerLink="/login">இங்கே உள்நுழைக</span></ion-text>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
